:root {
  --test-color: #c2007ac7;
}

.test-element {
  background-color: var(--test-color);
  padding: 0.25em 0.5em 0.25em 0.5em;
  display: inline-block;
  margin: 0 1em 0 1em;
  border-radius: 4px;
  color: white;
}
